@import url('events.css');

#sysbar {
}

/* Example window tag
#sysbar.window_frog {
	background: green;
}
*/

#sysbar .module:hover {
	background: alpha(CurrentColor, 0.1);
}

#sysbar .tray_container {
}
#sysbar .tray_item {
	padding: 10px;
}
#sysbar .tray_item:hover {
	background: alpha(currentcolor, 0.1);
}
#sysbar .context_menu contents {
	background: @insensitive_bg_color;
	min-width: 100px;
	padding: 5px;
}
#sysbar .context_menu flowboxchild {
	padding: 8px;
}
#sysbar .context_menu flowboxchild:hover {
	background: alpha(CurrentColor, 0.1);
}

#sysbar .module_taskbar flowboxchild:hover {
	background: alpha(CurrentColor, 0.05);
}


#sysbar_overlay .sidepanel {
	background: @theme_bg_color;
	border: 1px solid @borders;
	margin: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}

#sysbar_overlay .sidepanel .header {
}

#sysbar_overlay calendar {
	border-radius: 10px;
	border: unset;
}
#sysbar_overlay calendar > grid {
	margin: 0px;
}
#sysbar_overlay calendar > header {
	border-radius: 10px 10px 0px 0px;
	background: alpha(@insensitive_bg_color, 0.5);
}
#sysbar_overlay calendar > header >:nth-child(1),
#sysbar_overlay calendar > header >:nth-child(4) {
	border-radius: 4px 0px 0px 4px;
	padding: 6px;
}
#sysbar_overlay calendar > header >:nth-child(3),
#sysbar_overlay calendar > header >:nth-child(6) {
	border-radius: 0px 4px 4px 0px;
	padding: 10px;
}
#sysbar_overlay calendar .day-number {
	min-height: 33px;
}

#sysbar_overlay .sidepanel .widget {
	margin: 5px 10px 5px 10px;
}

#sysbar_overlay .sidepanel .widget_controls {
	margin: 6px;
}

#sysbar_overlay .sidepanel .control {
	min-height: 50px;
	border-radius: 6px;
	background: alpha(CurrentColor, 0.05);
}

#sysbar_overlay .sidepanel .control >:first-child {
	border-radius: 5px 0px 0px 5px;
}

#sysbar_overlay .sidepanel .control >:last-child {
	border-radius: 0px 5px 5px 0px;
	min-width: 40px;
}

#sysbar_overlay .sidepanel .widget_mpris {
	background: alpha(CurrentColor, 0.05);
	border-radius: 6px;
	padding: 10px;
}
#sysbar_overlay .sidepanel .widget_mpris .image_album_art {
	background: rgba(0,0,0, 0.25);
	border-radius: 10px;
}
#sysbar_overlay .sidepanel .widget_mpris .label_title,
#sysbar_overlay .sidepanel .widget_mpris .label_artist {
	margin-left: 10px;
}
#sysbar_overlay .sidepanel .widget_mpris .box_controls {
	border-radius: 5px;
}
#sysbar_overlay .sidepanel .widget_mpris .box_controls > button {
	padding: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
}
#sysbar_overlay .sidepanel .widget_mpris .box_controls >:nth-child(1) {
	border-radius: 5px 0px  0px 5px;
}
#sysbar_overlay .sidepanel .widget_mpris .box_controls >:nth-child(2) {
	border-radius: 0px;
}
#sysbar_overlay .sidepanel .widget_mpris .box_controls >:nth-child(3) {
	border-radius: 0px 5px 5px 0px;
}

#sysbar_overlay .sidepanel .widget_volume,
#sysbar_overlay .sidepanel .widget_backlight {
	-gtk-icon-size: 25px;
	min-height: 45px;
	margin-left: 5px;
}
#sysbar_overlay .sidepanel .widget_volume > image,
#sysbar_overlay .sidepanel .widget_backlight > image {
	min-width: 45px;
}
#sysbar_overlay .sidepanel .widget_volume > scale,
#sysbar_overlay .sidepanel .widget_backlight > scale {
	padding-left: 3px;
}

#sysbar_overlay .notifications_header {
	margin-left: 10px;
	margin-right: 10px;
	text-shadow: 0px 0px 5px black;
	-gtk-icon-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

#sysbar_overlay .notification,
#sysbar_notifications .notification {
	background: alpha(@theme_bg_color, 0.75);
	border: 1px solid @borders;
	border-radius: 6px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	margin: 5px 5px 0px 5px;
}

#sysbar_overlay .notification:hover,
#sysbar_notifications .notification:hover {
	background: alpha(@theme_bg_color, 0.5);
}

#sysbar_overlay .notification .header,
#sysbar_notifications .notification .header {
	font-weight: 700;
}

#sysbar_overlay .notification .header button,
#sysbar_notifications .notification .header button {
	margin: 5px;
}

#sysbar_overlay .notification .header .summary,
#sysbar_notifications .notification .header .summary {
	margin: 10px 10px 5px 10px;
}

#sysbar_overlay .notification .header .time,
#sysbar_notifications .notification .header .time {
	color: @insensitive_fg_color;
	margin: 10px 10px 5px 10px;
}

#sysbar_overlay .notification .body,
#sysbar_notifications .notification .body {
	color: alpha(currentColor, 0.9);
	margin: 0px 10px 10px 10px;
}

#sysbar_overlay .notification > box > box > box:last-child:not(.actions),
#sysbar_notifications .notification > box > box > box:last-child:not(.actions) {
	min-height: 48px;
}

#sysbar_overlay .notification .image,
#sysbar_notifications .notification .image {
	margin: 5px;
}

#sysbar_overlay .notification .actions,
#sysbar_notifications .notification .actions {
	margin: 5px;
}

#sysbar_overlay .notification .actions .action,
#sysbar_notifications .notification .actions .action {
	margin: 5px;
}
